@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Padauk:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-btn {
    @apply uppercase border px-3 py-px flex items-center gap-2 text-[16px];
  }
}

:root {
  font-family: "Lora", "Padauk", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
}

* {
  scroll-behavior: smooth;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #b8b8b8 -78.47%,
    #141414 91.61%
  );
}
