@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Padauk:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .astro-border-btn {
    @apply border border-gray-500 px-2.5 hover:border-white flex items-center gap-1 text-white text-xs py-1.5 uppercase tracking-wide transition-colors disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .astro-primary-btn {
    @apply flex items-center justify-center gap-1 bg-primary-600 hover:bg-primary-700 text-base xl:text-xl text-white px-5 py-1.5 border italic font-bold tracking-wide transition-colors disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .astro-secondary-btn {
    @apply flex items-center justify-center gap-1 bg-white hover:bg-gray-200 text-base xl:text-xl text-black px-5 py-1.5 border italic font-bold tracking-wide transition-colors disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

:root {
  font-family: "Lora", "Padauk", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
}

* {
  scroll-behavior: smooth;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #b8b8b8 -278.56%,
    #727272 -78.47%,
    #141414 91.61%
  );
}

.rdp-caption_dropdowns {
  display: flex;
  justify-content: start;
}

.rdp-vhidden {
  display: none;
}

.rdp-dropdown {
  background-color: transparent;
  border: 1px solid #374151;
  padding: 3px 10px;
  width: 80px;
  margin-right: 5px;
  font-size: 12px;
}

.rdp-dropdown_month div,
.rdp-dropdown_year div {
  display: none;
}

@layer base {
  :root {
    --background: 0, 0%, 8%;
    --foreground: 210 20% 98%;
    --card: 0, 0%, 8%;
    --card-foreground: 210 20% 98%;
    --popover: 0, 0%, 8%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
